@import 'fonts'

@import 'mixins'

@import 'colors'

@import 'base'

// Header
.header
    text-align: center
    padding: 4rem

// Main
.main
    text-align: center
    h1
        font-size: 3rem
        color: $neutral-gray
        span
            +libreFranklinBold($fz: 3rem)
            color: $black
    p
        font-size: 1rem
        padding: 1rem 0
    img
        width: 70%
        padding: 4rem 0
.form
    &-group
        padding: 0 25%
        &-input
            &-email
                border-radius: 4rem
                font-size: 1rem
                padding: 1.5rem
            &-btn
                +libreFranklinSemiBold($fz: 0.8rem)
                width: 100%
                padding: 0.9rem
                color: $white
                border-radius: 4rem
                background-color: $primary-blue
                &:hover
                    color: $white
                    background-color: lighten($primary-blue, 10%)
        &-text
            padding-left: 1rem
            text-align: left
            font-size: 0.8rem
            padding-top: 1rem
            display: none

// Footer
.footer
    text-align: center
    font-size: 0.8rem
    &-author
        padding-bottom: 1rem

.socials
    &-list
        display: block
        margin: 0 auto
        padding: 2rem 0 0 0
        list-style: none
        width: 100%
    &-item
        display: inline-block
        padding: 0 0.3rem
        margin-bottom: 2rem
        a
            display: inline-block
            width: 2rem
            height: 2rem
            font-size: 1rem
            border: 1px solid lighten($neutral-gray, 30%)
            border-radius: 50%
            padding-top: 10%
            text-align: center
            &:hover
                border: 1px soldi $primary-blue
                background-color: $primary-blue
                color: $white

//Active
.active
    display: block

.red
    color: $secondary-light-red

.error
    border: 1px solid $secondary-light-red
    color: $secondary-light-red
    &::placeholder
        color: $secondary-light-red

@import 'media'