// Fonts
@font-face
    font-family: 'LibreFranklin-SemiBold'
    src: url('../fonts/LibreFranklin-SemiBold.eot')
    src: url('../fonts/LibreFranklin-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/LibreFranklin-SemiBold.woff2') format('woff2'), url('../fonts/LibreFranklin-SemiBold.woff') format('woff'), url('../fonts/LibreFranklin-SemiBold.ttf') format('truetype')
    font-weight: 600
    font-style: normal

@font-face
    font-family: 'LibreFranklin-Light'
    src: url('../fonts/LibreFranklin-Light.eot')
    src: url('../fonts/LibreFranklin-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/LibreFranklin-Light.woff2') format('woff2'), url('../fonts/LibreFranklin-Light.woff') format('woff'), url('../fonts/LibreFranklin-Light.ttf') format('truetype')
    font-weight: 300
    font-style: normal

@font-face
    font-family: 'LibreFranklin-Bold'
    src: url('../fonts/LibreFranklin-Bold.eot')
    src: url('../fonts/LibreFranklin-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/LibreFranklin-Bold.woff2') format('woff2'), url('../fonts/LibreFranklin-Bold.woff') format('woff'), url('../fonts/LibreFranklin-Bold.ttf') format('truetype')
    font-weight: bold
    font-style: normal

// Mixins
=libreFranklinSemiBold($fz: 1rem)
    font-family: 'LibreFranklin-SemiBold', sans-serif
    font-size: $fz

=libreFranklinLight($fz: 1rem)
    font-family: 'LibreFranklin-Light', sans-serif
    font-size: $fz

=libreFranklinBold($fz: 1rem)
    font-family: 'LibreFranklin-Bold', sans-serif
    font-size: $fz

// Colors
$primary-blue: hsl(223, 87%, 63%)

$secondary-pale-blue: hsl(223, 100%, 88%)
$secondary-light-red: hsl(354, 100%, 66%)

$neutral-gray: hsl(0, 0%, 59%)
$neutral-dark-blue: hsl(209, 33%, 12%)

$white: #fff
$black: #111

html, body
    height: 100%

body
    color: $black
    +libreFranklinLight($fz: 1rem)
    font-size: 62.5%
    display: flex
    flex-direction: column
    min-height: 100%

button, input, a, textarea
    &:focus
        outline: none

a
    text-decoration: none
    color: $primary-blue
    &:focus
        color: $primary-blue
    &:hover
        color: $primary-blue
        text-decoration: none

.main
    flex: 1 0 auto

.footer
    flex: 0 0 auto

