@import 'fonts'

@import 'mixins'

@import 'colors'

@import 'base'

// Main Section
.main
    padding: 7% 0
    &-content
        &_text
            color: $white
            padding-top: 8rem
            h1
                +poppinsBold($fz: 3rem)
            p
                padding-top: 1.5rem
                font-size: 1rem
        &-button
            color:$white
            padding: 1rem
            background-color: $accent-blue
            width: 100%
            border-radius: 0.7rem
            font-size: 0.8rem
            margin-bottom: 1.5rem
            box-shadow: 0 0.4rem 0 0 rgba(0,0,0, 15%)
            &:hover
                background-color: darken($accent-blue, 10%)
                color: $white
            span
                +poppinsBold($fz: 0.8rem)
        &-form
            background-color: $white
            border-radius: 0.7rem
            box-shadow: 0 0.4rem 0 0 rgba(0,0,0, 15%)
            padding: 2rem
            text-align: center
            input
                margin: 1rem 0 0.2rem
                padding: 1.5rem
                +poppinsSemiBold($fz: 0.8rem)
            &-button
                +poppinsSemiBold($fz: 1rem)
                padding: 0.8rem
                width: 100%
                color: $white
                background-color: $primary-green
                box-shadow: 0 0.2rem 0 0 darken($primary-green, 5%)
                text-transform: uppercase
                margin-bottom: 1rem
                &:hover
                    background-color: darken($primary-green, 10%)
                    box-shadow: 0 0.2rem 0 0 darken($primary-green, 15%)
                    color: $white
            &-text
                font-size: 0.7rem
                color: $neutral-grayish-blue
                a
                    +poppinsBold($fz: 0.7rem)
                    color: $primary-red
.form-group-input
    text-align: right
    &-text
        font-size: 0.7rem
        display: none
        
//Footer
.footer
    font-size: 0.8rem
    text-align: center
    padding: 1rem

//Active
.active
    display: block

.red
    color: $primary-red

.error
    border: 1px solid $primary-red
    color: $primary-red
    &::placeholder
        color: $primary-red

@import 'media'