@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("../fonts/Poppins-ExtraLight.eot");
  src: url("../fonts/Poppins-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-ExtraLight.woff2") format("woff2"), url("../fonts/Poppins-ExtraLight.woff") format("woff"), url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1.4rem;
  font-size: 62.5%;
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}

.section-heading {
  color: #4c4e61;
}
.section-heading h1 {
  font-family: "Poppins-ExtraLight", sans-serif;
  font-size: 2.2rem;
}
.section-heading h2 {
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 2.2rem;
}
.section-heading p {
  color: #a3a5ae;
  font-size: 1rem;
  line-height: 1.5;
  padding: 2% 0;
}

.card {
  border: none;
}
.card-image {
  width: 25%;
}