@font-face {
  font-family: "Karla-Regular";
  src: url("../fonts/Karla-Regular.eot");
  src: url("../fonts/Karla-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Karla-Regular.woff2") format("woff2"), url("../fonts/Karla-Regular.woff") format("woff"), url("../fonts/Karla-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Karla-Bold";
  src: url("../fonts/Karla-Bold.eot");
  src: url("../fonts/Karla-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Karla-Bold.woff2") format("woff2"), url("../fonts/Karla-Bold.woff") format("woff"), url("../fonts/Karla-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  color: #fff;
  font-size: 62.5%;
  text-align: left;
  font-family: "Karla-Regular", sans-serif;
  font-size: 1.4rem;
}

.container-fluid {
  padding: 7% 18%;
}

button:focus {
  outline: 0 !important;
}
button:active {
  outline: 0 !important;
}

.button {
  background-color: #c0df34;
  color: #fff;
  min-height: 4rem;
  border: none;
}
.button:hover {
  background-color: #b3d421;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 43% 1fr;
  grid-template-areas: "pricing-header pricing-header" "pricing-cta pricing-info";
}
.grid-item {
  padding: 4rem;
}

.pricing-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  background-color: #e5eff5;
  grid-area: pricing-header;
  padding-bottom: 0;
}
.pricing-header h3 {
  font-family: "Karla-Bold", sans-serif;
  font-size: 2.2rem;
  color: #2ab2af;
  padding-bottom: 1rem;
}
.pricing-header h4 {
  font-family: "Karla-Bold", sans-serif;
  font-size: 1.8rem;
  color: #c0df34;
}
.pricing-header p {
  color: #98a6bd;
  font-size: 1.4rem;
}

.pricing-cta {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  background-color: #2ab2af;
  grid-area: pricing-cta;
}
.pricing-cta h4 {
  padding-bottom: 1.4rem;
}
.pricing-cta span {
  font-weight: lighter;
  font-size: 1.2rem;
}
.pricing-cta span strong {
  margin-right: 1rem;
  font-size: 3rem;
}
.pricing-cta p {
  font-size: 1.2rem;
  padding-bottom: 15%;
}

.pricing-info {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  background-color: #3dd1cf;
  grid-area: pricing-info;
}
.pricing-info h4 {
  padding-bottom: 1.4rem;
}
.pricing-info p {
  font-size: 1.2rem;
  color: #f2f2f2;
}

@media (max-width: 1200px) {
  .container-fluid {
    padding: 7% 13%;
  }

  .grid-item {
    padding: 3rem;
  }
}
@media (max-width: 992px) {
  .button {
    font-size: 1.2rem;
    min-height: 2rem;
  }

  .container-fluid {
    padding: 5% 11%;
  }

  .grid-item {
    padding: 2rem;
  }

  .pricing-header h3 {
    font-size: 1.4rem;
  }
  .pricing-header h4 {
    font-size: 1.2rem;
  }
  .pricing-header p {
    font-size: 0.9rem;
    padding-top: 1rem;
  }

  .pricing-cta h4 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
  .pricing-cta p {
    font-size: 0.9rem;
    padding: 0.5rem 0 1rem 0;
  }
  .pricing-cta span {
    font-size: 0.9rem;
  }
  .pricing-cta span strong {
    margin-right: 1rem;
    font-size: 1.8rem;
  }

  .pricing-info h4 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
  .pricing-info p {
    font-size: 0.9rem;
  }
}
@media (max-width: 576px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: "pricing-header " "pricing-info" "pricing-cta";
  }
  .grid-item {
    padding: 2rem;
  }

  .pricing-header h3 {
    font-size: 1.4rem;
  }
  .pricing-header h4 {
    font-size: 1.2rem;
  }
  .pricing-header p {
    font-size: 0.9rem;
    padding-top: 1rem;
  }

  .pricing-cta h4 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
  .pricing-cta p {
    font-size: 0.9rem;
    padding: 0.5rem 0 1rem 0;
  }
  .pricing-cta span {
    font-size: 0.9rem;
  }
  .pricing-cta span strong {
    margin-right: 1rem;
    font-size: 1.8rem;
  }

  .pricing-info h4 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
  .pricing-info p {
    font-size: 0.9rem;
  }
  .pricing-header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .pricing-cta {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .pricing-info {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}