// Fonts
@font-face 
    font-family: 'Poppins-Regular'
    src: url('../fonts/Poppins-Regular.eot')
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Regular.woff2') format('woff2'), url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'Poppins-ExtraLight'
    src: url('../fonts/Poppins-ExtraLight.eot')
    src: url('../fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-ExtraLight.woff2') format('woff2'), url('../fonts/Poppins-ExtraLight.woff') format('woff'), url('../fonts/Poppins-ExtraLight.ttf') format('truetype')
    font-weight: 200
    font-style: normal

@font-face 
    font-family: 'Poppins-SemiBold'
    src: url('../fonts/Poppins-SemiBold.eot')
    src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-SemiBold.woff2') format('woff2'), url('../fonts/Poppins-SemiBold.woff') format('woff'), url('../fonts/Poppins-SemiBold.ttf') format('truetype')
    font-weight: 600
    font-style: normal

// Font mixins
=poppinsExtraLight($fz)
    font-family: 'Poppins-ExtraLight', sans-serif
    font-size: $fz

=poppinsReg($fz)
    font-family: 'Poppins-Regular', sans-serif
    font-size: $fz

=poppinsSemiBold($fz)
    font-family: 'Poppins-SemiBold', sans-serif
    font-size: $fz

//Colors
$primary-red: hsl(0, 78%, 62%)
$primary-cyan: hsl(180, 62%, 55%)
$primary-orange: hsl(34, 97%, 64%)
$primary-blue: hsl(212, 86%, 64%)

$neutral-dark-blue: hsl(234, 12%, 34%)
$neutral-grayish-blue: hsl(229, 6%, 66%)
$neutral-light-gray: hsl(0, 0%, 98%)

$white: #fff

// Base Settings
body
    +poppinsReg(1.4rem)
    font-size: 62.5%
    text-align: center

.container-fluid
    padding: 3% 15%

//Section Heading
.section-heading
    color: $neutral-dark-blue
    h1
        +poppinsExtraLight(2.2rem)
    h2
        +poppinsSemiBold(2.2rem)
    p
        color: $neutral-grayish-blue
        font-size: 1rem
        line-height: 1.5
        padding: 2% 0

// features section
#features
    background-color: $neutral-light-gray

.grid-container
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr 1fr 1fr
    grid-gap: 1rem 1rem
    grid-template-areas: ". c2 ." "c1 c2 c4" "c1 c3 c4" ". c3 ."

// Cards
.card
    border: none
    &-body
        display: grid
        padding: 10%
        grid-template-columns: 1fr
        grid-template-rows: 20% 1fr 1fr
        grid-template-areas: "header" "body" "footer"
        text-align: left
        h3
            +poppinsSemiBold(1.3rem)
        p
            color: $neutral-grayish-blue
            font-size: 0.8rem
            line-height: 1.5
    &-image
        grid-area: footer
        place-self: end
        width: 25%

.c1
    border-top: 5px solid $primary-cyan
    grid-area: c1
.c2
    border-top: 5px solid $primary-red
    grid-area: c2
.c3
    border-top: 5px solid $primary-orange
    grid-area: c3
.c4
    border-top: 5px solid $primary-blue
    grid-area: c4


@media (max-width: 992px)
    .grid-container
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr 1fr
        grid-gap: 1rem 1rem
        grid-template-areas: "c1 c2" "c3 c4"

@media (max-width: 768px)
    .grid-container
        display: block
    .card
        margin: 3% 0